---
import { education } from "../../cv.json";
---
<div class="mt-2">
  <h1>Educación</h1>
  <ul >
    {
      education.map(({ institution, startDate, endDate, area, url }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual";
        const years = `${startYear} - ${endYear}`;

        return (
          <li class="shadow">
            <article class="p-1">
              <header>
                <div>
                  <h2>
                    <a href={url} target="_blank">
                      {institution}
                    </a>
                  </h2>
                </div>

                <time>{years}</time>
              </header>
              <footer>
                <p>{area}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</div>

<style>
  h1{
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
    color:black;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article {
    border-bottom: 1px solid #000000;
  }

  article h2 {
    font-weight: 500;
    color: #333;
    font-size: 1.25rem;
  }

  a {
    transition:
      color 0.2s ease,
      transform 0.3s ease;
    transform: scale(1);
  }

  a:hover {
    color: #ffffff;
    transform: scale(1.05);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  time {
    color: #ffffff;
    font-size: 0.85rem;
    min-width: 102px;
  }

  footer p {
    color: #666;
    font-size: 1rem;
  }

  @media (max-width: 700px) {
    header {
      flex-direction: column;
      align-items: baseline;
    }

    time {
      margin-top: 8px;
      text-align: left;
    }
  }
</style>
